body {
  background-color: #eaedee;
  font-family: "Montserrat", sans-serif;
  /*background-image: url("./Containers/img/thumb-350-327321.jpg");*/
}

.header {
  width: 1440px;
  height: 120px;
  /*border: red solid 2px;*/
  font-size: 18px;
  background-color: #ffffff;
  padding-left: 90px;
  justify-content: space-around;
  display: flex;
  border-radius: 10px;
  margin-top: 45px;
  margin-right: 110px;
  background-color: #ee091d;
}
.header img {
  max-height: 120px;
  object-fit: contain;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: unset;
  padding: unset;
  text-decoration: none;
  margin-top: 45px;
  margin-right: 150px;
}
.header li {
  /*border: red solid 2px;*/

  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.4;
  transition: 0.3s;
  font-family: Arial;
}
.ul .li {
  text-decoration: none;
}
.login {
  margin-top: 45px;
}
.login button {
  height: 46px;
  width: 135px;

  background: #ed0a1d;
  font: bold 23px Arial;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
}

/*Home*/

.bloc1 {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  /*border: black solid 2px;*/
  width: 1200px;
  margin-left: 175px;
  margin-top: 50px;
}

.bloc1 img {
  height: 340px;
  width: 260px;
  border-radius: 5px;
}
h1 {
  font-size: 50px;
  margin-left: 400px;
  font-weight: bold;
  /*border: solid;*/
  height: 100px;
  width: 800px;
}
.search {
  font-size: 50px;

  font-weight: bold;
  /*border: solid;*/
  height: 100px;
  width: 650px;
  margin-top: 30px;
}
.search input {
  height: 50px;
  width: 250px;
  margin-left: 650px;
}
/*Comics*/

.bloc2 {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  /*border: black solid 2px;*/
  width: 1200px;
  margin-left: 175px;
  margin-top: 30px;
}

.bloc2 img {
  height: 340px;
  width: 260px;
  border-radius: 5px;
}
.bloc2 p {
  height: 280px;
  /*border: red solid 2px;*/
  width: 260px;
}
.titre {
  height: 69px;
  /*border: red solid 2px;*/
  width: 260px;
}

/*Pagination*/

.pagination {
  display: flex;
  justify-content: space-around;
}
.page-button {
  height: 50px;
  background-color: beige;
}
